legacy-peer-deps=true
public-hoist-pattern[]=*eslint-*

# 国内镜像配置
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
registry=https://registry.npmmirror.com/
